.container {
  font-family: 'Arial, sans-serif';
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  margin-top: 1rem;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.stockSet {
  margin-bottom: 20px;
}

.stockItem {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.navigation button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
}

.navigation button:disabled {
  background-color: #d6d6d6;
}

.navigation button:hover:enabled {
  background-color: #0056b3;
}

.stockItem button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  margin-left: 14rem;
}

.stockItem button:hover {
  background-color: #0056b3;
}

.stockItem button:disabled {
  background-color: #d6d6d6;
}

.backToListButton {
  margin-bottom: 20px;
  margin-left: 14rem;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.backToListButton:hover {
  background-color: #0056b3;
}

.buttonContainer {
  display: flex; /* Make the buttons display horizontally */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
}

.buyStockButton {
  /* css nico */

  /* margin-bottom: 20px;
  margin-left: 14rem;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer; */

  /* css domingo */
  margin: 0 5px; /* Add some margin to separate the buttons */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.buyStockButton:hover {
  background-color: #0056b3;
}

.buyStockButton:disabled {
  background-color: #d6d6d6;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  width: 300px;
  animation: slide-up 0.3s ease;
}

.popupHeader {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popupContent {
  padding: 16px;
}

.popupClose {
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}